
{{#unless attributes}}

{{#unless success}}

<div class="col-sm-8 offset-sm-2">
    <div class="col-sm-12">
        <label>Enter Workspace information</label>
    </div>

    <div>
        <div class="card-body">
        <form action="/export" method="POST">
            <div class="form-group">
                <label for="host">Host</label>
                <input type="text" name="host" value="na5">
            </div>
            <div class="form-group">
                <label for="spaceId">Space ID/Workspace ID</label>
                <input type="text" name="spaceId" value="MTYwXXX">
            </div>
            <div class="form-group">
                <label for="clientId">Client ID</label>
                <input type="text" name="clientId" value="4488eefd-13d2-4aae-a25c-01a3e8e86XXX">
            </div>
            <div class="form-group">
                <label for="clientSecret">Client Secret</label>
                <input type="text" name="clientSecret" value="47819b2f-d946-40bc-b749-d387f3bcfXXX">
            </div>
            <div class="card-footer">
                <label for="Send">Request may take a moment to process...</label><br>
                <input type="submit" name="Send">
            </div>
        </form>
        </div>
    </div>
</div>

{{else if success}}
    <h2>{{this}}</h2>
    <h3>{{sucess}}</h3>
{{/unless}}

{{/unless}}

{{#if attributes}}
    <div class="card mt-sm-2">
        <form action="/export/attribute" method="post">
            <div class="card-header" id="fixedHeader" style="background-color: #a0c0db">
                <label style="color: #fcfcfc">All available attributes</label>
            </div>

            <div class="form-group">
                <label for="changeAtt">Select attribute to change</label><br>
                <select class="form-control" name="changeAtt">
                    {{#each attributes as |item|}}
                            <option value="{{this.[0]}};{{item.[1]}}">{{item.[1]}}</option>
                    {{/each}}
                </select>

                <label for="uri">Touchpoint URL</label><br>
                <input type="text" name="uri"><br>

                <label for="newAtt">Name of new attribute</label><br>
                <input type="text" id="newAtt" name="newAtt"><br>

                <label for="newSpace">ONE tag</label><br>
                <input type="text" id="newSpace" name="newSpace"><br>

                <input type="hidden" name="host" value="{{tenant.host}}">
                <input type="hidden" name="clientId" value="{{tenant.clientId}}">
                <input type="hidden" name="clientSecret" value="{{tenant.clientSecret}}">
                <input type="hidden" name="spaceId" value="{{tenant.spaceId}}">
                <input type="hidden" name="exportId" value="{{tenant.exportId}}">

            </div>

            <div class="form-check">
                <input type="radio" name="case" id="case1" value="uppercase">
                <label class="form-check-label" for="case1"> To upper case</label>
            </div>

            <div class="form-check">
                <input type="radio" name="case" id="case2" value="lowercase">
                <label class="form-check-label" for="case2"> To lower case</label>
            </div>

            <div class="form-check">
                <input type="radio" name="case" id="case3">
                <label class="form-check-label" for="case3"> Remove trailing character</label>

                <div class="reveal-if-active">
                    <label for="trailingCharacter">Which character you want to remove?</label><br>
                    <input class="require-if-active" type="text" id="trailingCharacter" name="trailingCharacter" data-require-pair="#trailingCharacter">
                </div>
            </div><br>

            <div class="card-footer">
                <input type="submit" class="btn btn-primary btn-block form-control" value="Change attribute">
            </div>
        </form>
    </div>
{{/if}}


