<!DOCTYPE html>
<html>
<head>
    <title>{{title}}</title>
    <link rel="stylesheet" href="/export/css/bootstrap.min.css">
    <link rel='stylesheet' href='/export/css/dashboard.css'/>
    <link rel='stylesheet' href='/export/css/action.css'/>
    <link rel='stylesheet' href='http://propeller.in/components/button/css/button.css'/>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel='stylesheet' href='/export/css/stylesheet.css'/>

    <!-- Remote libraries -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <!-- Local JavaScript -->
    <script src="/export/js/popper.min.js"></script>
    <script src="/export/js/bootstrap.min.js"></script>
    <script src="/export/js/Chart.min.js"></script>
    <script src="/export/js/feather.min.js"></script>
    <script type="text/javascript" src="http://propeller.in/components/button/js/ripple-effect.js"></script>

    <!-- scripts -->
    <script defer src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
    <script type="application/x-javascript">
        addEventListener("load", function () {
            setTimeout(hideURLbar, 0);
        }, false);

        function hideURLbar() {
            window.scrollTo(0, 1);
        }
    </script>
    <style type="text/css">/* Chart.js */
    @-webkit-keyframes chartjs-render-animation {
        from {
            opacity: 0.99
        }
        to {
            opacity: 1
        }
    }

    @keyframes chartjs-render-animation {
        from {
            opacity: 0.99
        }
        to {
            opacity: 1
        }
    }

    .chartjs-render-monitor {
        -webkit-animation: chartjs-render-animation 0.001s;
        animation: chartjs-render-animation 0.001s;
    }
    </style>
</head>

<body style="background-color: #FFFFFF">
<nav class="navbar navbar-expand navbar-dark sticky-top bg-dark flex-md-nowrap p-0" style="margin-bottom: 0px">
    <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="/export/">Export</a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <input class="form-control form-control-dark w-100" type="text" placeholder="Search" aria-label="Search">

    <!--<div class="collapse navbar-collapse" id="navbarSupportedContent">-->

        <!--<ul class="navbar-nav mr-auto">-->

            <!--<li class="nav-item dropdown">-->
                <!--<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"-->
                   <!--aria-haspopup="true" aria-expanded="false">-->
                    <!--Profile-->
                <!--</a>-->
                <!--<div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">-->

                    <!--<a class="dropdown-item" href="/seeder/user/update">Update user</a>-->
                    <!--<div class="dropdown-divider"></div>-->
                    <!--<a class="dropdown-item" href="/seeder/logout">Sign out</a>-->

                <!--</div>-->

            <!--</li>-->
            <!--<li class="nav-item">-->
                <!--<a class="nav-link disabled" href="#"></a>-->
            <!--</li>-->
        <!--</ul>-->

    <!--</div>-->

</nav>
<div class="container-fluid">
    <div class="row">
        <nav class="col-md-2 d-none d-md-block bg-light sidebar">
            <div class="sidebar-sticky">
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link" href="/export/">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                 fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                 stroke-linejoin="round" class="feather feather-home">
                                <path d="M3 9l9-7 9 7v11a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2z"></path>
                                <polyline points="9 22 9 12 15 12 15 22"></polyline>
                            </svg>
                            Dashboard <span class="sr-only">(current)</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                 fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                 stroke-linejoin="round" class="feather feather-layers">
                                <polygon points="12 2 2 7 12 12 22 7 12 2"></polygon>
                                <polyline points="2 17 12 22 22 17"></polyline>
                                <polyline points="2 12 12 17 22 12"></polyline>
                            </svg>
                            Placeholder
                        </a>
                    </li>
                </ul>

                <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
                    <span>Placeholder</span>
                    <a class="d-flex align-items-center text-muted" href="#">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                             stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                             class="feather feather-plus-circle">
                            <circle cx="12" cy="12" r="10"></circle>
                            <line x1="12" y1="8" x2="12" y2="16"></line>
                            <line x1="8" y1="12" x2="16" y2="12"></line>
                        </svg>
                    </a>
                </h6>
                <ul class="nav flex-column mb-2">
                    {{#if showHistory}}
                        {{#each showHistory}}
                            <a class="nav-item" href="runhistory?historyId={{historyId}}">{{timeStamp}}</a>
                        {{/each}}
                    {{/if}}

                </ul>
            </div>
        </nav>
        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
            <!--ACTION BUTTON -->
            <!--<div class="menu pmd-floating-action fixed sticky-bottom" id="alwaysOnTop" role="navigation">-->
                <!--&lt;!&ndash;<a href="javascript:void(0);" class="pmd-floating-action-btn btn btn-sm pmd-btn-fab pmd-btn-raised pmd-ripple-effect btn-default" data-title="Supervisor Account">&ndash;&gt;-->
                <!--&lt;!&ndash;<span class="pmd-floating-hidden">Supervisor Account</span>&ndash;&gt;-->
                <!--&lt;!&ndash;<i class="material-icons">supervisor_account</i>&ndash;&gt;-->
                <!--&lt;!&ndash;</a>&ndash;&gt;-->
                <!--&lt;!&ndash;<a href="javascript:void(0);" class="pmd-floating-action-btn btn btn-sm pmd-btn-fab pmd-btn-raised pmd-ripple-effect btn-default" data-title="Cloud Queue">&ndash;&gt;-->
                <!--&lt;!&ndash;<span class="pmd-floating-hidden">Cloud Queue</span>&ndash;&gt;-->
                <!--&lt;!&ndash;<i class="material-icons">cloud_queue</i>&ndash;&gt;-->
                <!--&lt;!&ndash;</a>&ndash;&gt;-->
                <!--<a href="/seeder/data/story"-->
                   <!--class="pmd-floating-action-btn btn btn-sm pmd-btn-fab pmd-btn-raised pmd-ripple-effect btn-default"-->
                   <!--data-title="Story">-->
                    <!--<span class="pmd-floating-hidden">Add</span>-->
                    <!--<i class="material-icons md-dark">create_new_folder</i>-->
                <!--</a>-->
                <!--<a href="/seeder/data/space"-->
                   <!--class="pmd-floating-action-btn btn btn-sm pmd-btn-fab pmd-btn-raised pmd-ripple-effect btn-default"-->
                   <!--data-title="Space">-->
                    <!--<span class="pmd-floating-hidden">Add</span>-->
                    <!--<img style="max-width:40px;"-->
                         <!--src="/export/images/logo.png">-->
                <!--</a>-->
                <!--<a class="pmd-floating-action-btn btn pmd-btn-fab pmd-btn-raised pmd-ripple-effect btn-primary"-->
                   <!--data-title="Add" href="javascript:void(0);">-->
                    <!--<span class="pmd-floating-hidden">Primary</span>-->
                    <!--<i class="material-icons pmd-sm">add</i>-->
                <!--</a>-->
            <!--</div>-->
            <!--ACTION BUTTON -->

            {{{body}}}
        </main>
    </div>
</div>
<!-- BODY SCRIPTS -->
<script>
    $(document).ready(function () {
        // get current URL path and assign 'active' class
        var pathname = window.location.pathname;
        $('.nav > li > a[href="' + pathname + '"]').addClass('active');
    });

    var FormStuff = {

    init: function() {
    // kick it off once, in case the radio is already checked when the page loads
    this.applyConditionalRequired();
    this.bindUIActions();
    },

    bindUIActions: function() {
    // when a radio or checkbox changes value, click or otherwise
    $("input[type='radio'], input[type='checkbox']").on("change", this.applyConditionalRequired);
    },

    applyConditionalRequired: function() {
    // find each input that may be hidden or not
    $(".require-if-active").each(function() {
    var el = $(this);
    // find the pairing radio or checkbox
    if ($(el.data("require-pair")).is(":checked")) {
    // if its checked, the field should be required
    el.prop("required", true);
    } else {
    // otherwise it should not
    el.prop("required", false);
    }
    });
    }

    };

    FormStuff.init();

</script>
<script>
    feather.replace()
</script>
</body>
</html>
